---
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE } from '../consts';
import * as Brand from '../content/brand/Brand.md';
import '../styles/global.css';

const { pageTitle } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <title>{SITE_TITLE} | {pageTitle}</title>
        <meta name="description" content={Brand.frontmatter.description}/>
    </head>
    <body>
        <div class="wrapper">
            <header>
                <a href="/"><h1>{SITE_TITLE}</h1></a>
                <Nav/>
            </header>
            <main>
                <slot/>
            </main>
            <Footer/>
        </div>
    </body>
</html>

<style>
    .wrapper {
        max-width: 900px;
        margin: 0 1rem;
    }

    header {
        margin-top: 3rem;
        border-bottom: 1px solid var(--text-light-color);
        padding-bottom: 1rem;
    }

    header a {
        text-decoration: none;
    }

    header a h1 {
        font-size: 2.25rem;
    }

    main {
        min-height: 90vh;
        display: flex;
        flex-direction: column;
        background-color: #fff;
        padding: 1rem;
    }

    @media screen and (min-width: 600px)
    {
        .wrapper {
            margin: 0 2rem;
        }

        header {
            margin-top: 5rem;
        }
    }

    @media screen and (min-width: 950px)
    {
        .wrapper {
            margin: 0 auto;
        }
    }
</style>